<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="../static/d3/d3.v3.js"></script>
        <title>conflictMapping</title>
        <style>
            .center
            {
            margin:auto;
            width:70%;
            /*background-color:#b0e0e6;*/
            min-width:960px;
            position: relative;
            }
        </style>
    </head>
    <body>
        <script>
            // Data
            var data_value = {{ tweets_country|safe}}
            console.log(data_value);
            var links = {{ links|safe }}
            console.log(links);
            //Body
            var body = d3.select("body")
            // Main div
            var main_div = body.append("div")
                            .attr("class", "center")
            // Page header
            main_div.append("h1").html("conflictMapping<br><br>")
            .attr("class", "center")
            // Map div
            var map_div = main_div.append("div")
                            .attr("class", "map_div")
            //Tooltip
            var tooltip = map_div.append("div")
                      .attr("class", "center tooltip")
                      .style("z-index", 2)
                      .style("opacity", 0.8)
                      .html('<b>N/A</b><br>N/A');
            //SVG element and attributes.
            var width = 950;
            var height = 400;
            var color = d3.scale.linear()
                    .domain([0, {{ tweets_max }}])
                    .range(["yellow", "red"]);
            // SVG
            var svg = map_div.append("svg")
                      .attr("width", width)
                      .attr("height", height)
                      .attr("display", "block")
                      .attr("class", "center");
            // Group
            var group = svg.append('g')
            group.attr('transorm', 'scale(.3, .3)');

            //Creates a projection which we can apply to the path.
            var projection = d3.geo.equirectangular();

            d3.json("../static/world_map_110m.json", function(world){
                //Gets the coordinate data from our dataset.
                var subunits = world.features[0].properties;
               //Allows us to check the validity of our data in the console.
                console.log(subunits);
                //Adds the countries to the canvas
                group.selectAll('path').data(world.features)
                .enter().append('path')
                .attr('d', d3.geo.path().projection(projection))
                .attr('id', function(d){return d.properties.name})
                .attr('value', function(d){
                    c = data_value[d.properties.name]
                    if (c) return c
                    else return 0;})
                .style('fill', function(d){
                    c = data_value[d.properties.name]
                    if (c) return color(c)
                    else return 'grey';})
                .style('stroke', 'white')
                .style('stroke-with', 1);

                svg.selectAll("path").data(world.features)
                .on("mouseover", function(d){
                    tooltip.transition().duration(200);
                    c = data_value[d.properties.name]
                    if (!c) c = 0
                    tooltip.html("<b>" + d.properties.name  + "</b><br>" +
                    "Tweets: " + c)});
                });
            // Footer
            main_div.append("footer")
            .text('{{ tweets_count|safe }} tweets in database')
            .attr("class", "center")
            // Link div
            var link_div = main_div.append("div")
                            .attr("class", "center")
            // Links
            link_div.selectAll("a")
            .data(links)
            .enter()
            .append("a")
            .attr("href", function(l){return l[1];})
            .attr("class", "center")
            .html(function(l){return l[0] + "<br>"})
        </script>
    </body>
</html>
